In [1]:
from db_setup import DbHandler
import pandas as pd

# Init Root with new passwd

In [2]:
db_handler = DbHandler.DbHandler(dbtype="mysql", hostname="localhost", port="3308")

In [3]:
root_engine = db_handler.create_engine(username="root", password="4321")

script_file = open("./sql_script/alter_root.sql", "rt")
db_handler.run_script(engine=root_engine, script_file=script_file)

root_engine = db_handler.create_engine(username="root", password="1234")

# Create user "data" && tables

In [4]:
script_file = open("./sql_script/create_user_data.sql", "rt")
db_handler.run_script(engine=root_engine, script_file=script_file)

[<sqlalchemy.engine.result.ResultProxy at 0x2d81a3b7f70>,
 <sqlalchemy.engine.result.ResultProxy at 0x2d81a3b7e50>,
 <sqlalchemy.engine.result.ResultProxy at 0x2d81a3b7e20>,
 <sqlalchemy.engine.result.ResultProxy at 0x2d81a3d74c0>,
 <sqlalchemy.engine.result.ResultProxy at 0x2d81a3d7640>,
 <sqlalchemy.engine.result.ResultProxy at 0x2d81a3d77c0>]

In [5]:
data_engine = db_handler.create_engine(username="data", password="1234")

In [6]:
script_file = open("./sql_script/tables_init.sql", "rt")
results = db_handler.run_script(engine=data_engine, script_file=script_file)
print(results)

[<sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F3A00>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F38B0>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F3DC0>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F3EE0>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F3E80>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F6160>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F62E0>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F6460>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F65E0>, <sqlalchemy.engine.result.ResultProxy object at 0x000002D81A3F6760>]

In [7]:
from db_setup import DataHandler

dataset_handler = DataHandler.Dataset(path=f'./data/DataCoSupplyChainDataset.csv', delimiter=',', encoding='ISO-8859-1')
# dataset_handler.print_pandas_tables()

tables, table_dtypes, table_insertion_order = dataset_handler.get_tables()

# Fill tables

In [8]:
# print(table_dtypes)

for table_name in table_insertion_order:
    print(table_name)
    print(tables[table_name][:10])
    dtype = dict(zip([tables[table_name].index.name] + tables[table_name].columns.tolist(), table_dtypes[table_name]))
    db_handler.fill_table(df=tables[table_name], table_name=table_name[6:], engine=data_engine,
                          schema="data_co_schema", dtypes=dtype);

table_customer
               fname      lname      email     passwd      segment
customer_id
1            Richard  Hernandez  XXXXXXXXX  XXXXXXXXX     Consumer
2               Mary    Barrett  XXXXXXXXX  XXXXXXXXX     Consumer
3                Ann      Smith  XXXXXXXXX  XXXXXXXXX     Consumer
4               Mary      Jones  XXXXXXXXX  XXXXXXXXX     Consumer
5             Robert     Hudson  XXXXXXXXX  XXXXXXXXX  Home Office
6               Mary      Smith  XXXXXXXXX  XXXXXXXXX     Consumer
7            Melissa     Wilcox  XXXXXXXXX  XXXXXXXXX    Corporate
8              Megan      Smith  XXXXXXXXX  XXXXXXXXX    Corporate
9               Mary      Perez  XXXXXXXXX  XXXXXXXXX     Consumer
10           Melissa      Smith  XXXXXXXXX  XXXXXXXXX    Corporate
table_customer_geo
            customer_city customer_country customer_state  \
customer_id
1             Brownsville          EE. UU.             TX
2               Littleton          EE. UU.             CO
3                  Caguas      Puerto Rico             PR
4              San Marcos          EE. UU.             CA
5                  Caguas      Puerto Rico             PR
6                 Passaic          EE. UU.             NJ
7                  Caguas      Puerto Rico             PR
8                Lawrence          EE. UU.             MA
9                  Caguas      Puerto Rico             PR
10               Stafford          EE. UU.             VA

                         customer_street  customer_zipcode
customer_id
1                     6303 Heather Plaza           78521.0
2                9526 Noble Embers Ridge           80126.0
3                 3422 Blue Pioneer Bend             725.0
4                     8324 Little Common           92069.0
5                 10 Crystal River Mall              725.0
6            3151 Sleepy Quail Promenade            7055.0
7                   9453 High Concession             725.0
8                3047 Foggy Forest Plaza            1841.0
9                    3616 Quaking Street             725.0
10             8598 Harvest Beacon Plaza           22554.0
table_product_category
                category_name
category_id
73             Sporting Goods
17                     Cleats
29              Shop By Sport
24            Women's Apparel
13                Electronics
12               Boxing & MMA
9            Cardio Equipment
41                   Trade-In
37                Electronics
38           Kids' Golf Clubs
table_product
                                                     name  category_id  \
product_id
19                Nike Men's Fingertrap Max Training Shoe            2
24                            Elevation Training Mask 2.0            2
35                adidas Brazuca 2014 Official Match Ball            3
37                  adidas Kids' F5 Messi FG Soccer Cleat            3
44             adidas Men's F10 Messi TRX FG Soccer Cleat            3
58          Diamondback Boys' Insight 24 Performance Hybr            4
60                                    SOLE E25 Elliptical            4
61          Diamondback Girls' Clarity 24 Hybrid Bike 201            4
78          Nike Kids' Grade School KD VI Basketball Shoe            5
93                     Under Armour Men's Tech II T-Shirt            5

                                                        image  product_price  \
product_id
19          http://images.acmesports.sports/Nike+Men%27s+F...     124.989998
24          http://images.acmesports.sports/Elevation+Trai...      79.989998
35          http://images.acmesports.sports/adidas+Brazuca...     159.990005
37          http://images.acmesports.sports/adidas+Kids%27...      34.990002
44          http://images.acmesports.sports/adidas+Men%27s...      59.990002
58          http://images.acmesports.sports/Diamondback+Bo...     299.989990
60          http://images.acmesports.sports/SOLE+E25+Ellip...     999.989990
61          http://images.acmesports.sports/Diamondback+Gi...     299.989990
78          http://images.acmesports.sports/Nike+Kids%27+G...      99.989998
93          http://images.acmesports.sports/Under+Armour+M...      24.990000

            product_status
product_id
19                       0
24                       0
35                       0
37                       0
44                       0
58                       0
60                       0
61                       0
78                       0
93                       0
table_department
              department_name        market
department_id
2                     Fitness  Pacific Asia
3                    Footwear          USCA
4                     Apparel  Pacific Asia
5                        Golf  Pacific Asia
6                    Outdoors        Africa
7                    Fan Shop         LATAM
8                   Book Shop        Europe
9                  Discs Shop        Europe
10                 Technology        Europe
11                   Pet Shop  Pacific Asia
table_orders
          customer_id        order_date      type   delivery_status  \
order_id
1               11599  2015-1-1 0:00:00      CASH  Advance shipping
2                 256  2015-1-1 0:21:00   PAYMENT  Advance shipping
4                8827  2015-1-1 1:03:00      CASH     Late delivery
5               11318  2015-1-1 1:24:00     DEBIT     Late delivery
7                4530  2015-1-1 2:06:00     DEBIT     Late delivery
8                2911  2015-1-1 2:27:00  TRANSFER  Shipping on time
9                5657  2015-1-1 2:48:00   PAYMENT     Late delivery
10               5648  2015-1-1 3:09:00   PAYMENT     Late delivery
11                918  2015-1-1 3:30:00   PAYMENT  Advance shipping
12               1837  2015-1-1 3:51:00      CASH  Advance shipping

          late_delivery_risk  order_item_total  order_profit_per_order  \
order_id
1                          0        239.979996               88.790001
2                          0        193.990005               91.180000
4                          1         40.980000                4.100000
5                          1        109.190002               34.939999
7                          1        251.979996              120.949997
8                          0        163.929993             -131.149994
9                          1        199.990005               96.000000
10                         1        110.489998               28.730000
11                         0         47.990002               16.799999
12                         0         87.000000               23.490000

          benefit_per_order  department_id
order_id
1                 88.790001              7
2                 91.180000              7
4                  4.100000              6
5                 34.939999              4
7                120.949997              7
8               -131.149994              7
9                 96.000000              7
10                28.730000              4
11                16.799999              4
12                23.490000              2
table_orders_geo
                   city           region             state           status
order_id
1           Mexico City  Central America  Distrito Federal           CLOSED
2         Dos Quebradas    South America         Risaralda  PENDING_PAYMENT
4         Dos Quebradas    South America         Risaralda           CLOSED
5         Dos Quebradas    South America         Risaralda         COMPLETE
7             São Paulo    South America         São Paulo         COMPLETE
8             São Paulo    South America         São Paulo       PROCESSING
9             São Paulo    South America         São Paulo  PENDING_PAYMENT
10            São Paulo    South America         São Paulo  PENDING_PAYMENT
11            São Paulo    South America         São Paulo   PAYMENT_REVIEW
12              Managua  Central America           Managua           CLOSED
table_order_item
               order_id  product_id   discount  discount_rate  item_price  \
order_item_id
180517            77202        1360  13.110000           0.04      327.75
179254            75939        1360  16.389999           0.05      327.75
179253            75938        1360  18.030001           0.06      327.75
179252            75937        1360  22.940001           0.07      327.75
179251            75936        1360  29.500000           0.09      327.75
179250            75935        1360  32.779999           0.10      327.75
179249            75934        1360  39.330002           0.12      327.75
179248            75933        1360  42.610001           0.13      327.75
179247            75932        1360  49.160000           0.15      327.75
179246            75931        1360  52.439999           0.16      327.75

               profit_ratio  quantity   sales
order_item_id
180517                 0.29         1  327.75
179254                -0.80         1  327.75
179253                -0.80         1  327.75
179252                 0.08         1  327.75
179251                 0.45         1  327.75
179250                 0.06         1  327.75
179249                 0.33         1  327.75
179248                 0.24         1  327.75
179247                 0.48         1  327.75
179246                 0.48         1  327.75
table_shipping
               days_for_shipping_real  days_for_shipping_scheduled  \
order_item_id
180517                              3                            4
179254                              5                            4
179253                              4                            4
179252                              3                            4
179251                              2                            4
179250                              6                            4
179249                              2                            1
179248                              2                            1
179247                              3                            2
179246                              2                            1

                    shipping_date            mode
order_item_id
180517          2018-2-3 22:56:00  Standard Class
179254         2018-1-18 12:27:00  Standard Class
179253         2018-1-17 12:06:00  Standard Class
179252         2018-1-16 11:45:00  Standard Class
179251         2018-1-15 11:24:00  Standard Class
179250         2018-1-19 11:03:00  Standard Class
179249         2018-1-15 10:42:00     First Class
179248         2018-1-15 10:21:00     First Class
179247         2018-1-16 10:00:00    Second Class
179246          2018-1-15 9:39:00     First Class