# Init

In [1]:
import sqlalchemy as sqla
from sqlalchemy import text
import pandas as pd

In [7]:
root_init_script_file = open("./sql_script/db_init.sql", "rt")
root_init_script = root_init_script_file.read()
root_init_script = root_init_script.split('\n')
root_init_script = list(filter(lambda line: len(line) > 2 and line[0] != '-', root_init_script))

table_init_script_file = open("./sql_script/tables_init.sql", "rt")
table_init_script = table_init_script_file.read()
table_init_script = table_init_script.split(';')
table_init_script = list(filter(lambda line: len(line) > 2 and line[0] != '-', table_init_script))
table_init_script = list(map((lambda x: x.replace('\n','')), table_init_script))
table_init_script = list(filter(lambda line: len(line) > 2 and line[0] != '-', table_init_script))

In [8]:
for i in root_init_script:
    print(i)

for i in table_init_script:
    print(i)

ALTER USER 'root'@'localhost' IDENTIFIED BY '1234';
ALTER USER 'root'@'%' IDENTIFIED BY '1234';
CREATE USER 'data'@'localhost' IDENTIFIED BY '1234';
CREATE USER 'data'@'%' IDENTIFIED BY '1234';
GRANT ALL PRIVILEGES ON *.* TO 'data'@'localhost';
GRANT ALL PRIVILEGES ON *.* TO 'data'@'%';
FLUSH PRIVILEGES;
CREATE DATABASE IF NOT EXISTS data_co_schema;
USE data_co_schema
CREATE TABLE customer (    customer_id INT NOT NULL PRIMARY KEY,    fname VARCHAR(45) NOT NULL ,    lname VARCHAR(45) NOT NULL ,    email VARCHAR(45) NOT NULL ,    passwd VARCHAR(45) NOT NULL ,    segment VARCHAR(45) NOT NULL ,    UNIQUE INDEX customer_id_UNIQUE (customer_id ASC))
CREATE TABLE customer_geo (    customer_id INT NOT NULL PRIMARY KEY,    city VARCHAR(45) NOT NULL ,    country VARCHAR(45) NOT NULL ,    state VARCHAR(45) NOT NULL ,    street VARCHAR(45) NOT NULL ,    zipcode VARCHAR(45) NOT NULL ,    UNIQUE INDEX customer_id_UNIQUE (customer_id ASC),    CONSTRAINT customer_id_fk FOREIGN KEY (customer_id) REFERENCES data_co_schema.customer (customer_id) ON DELETE NO ACTION ON UPDATE CASCADE)
CREATE TABLE product_category (    category_id INT NOT NULL PRIMARY KEY,    name VARCHAR(45) NOT NULL,    UNIQUE INDEX category_id_UNIQUE (category_id ASC))
CREATE TABLE product (    product_id INT NOT NULL PRIMARY KEY,    name VARCHAR(45) NOT NULL ,    category_id INT NOT NULL ,    image VARCHAR(45) NOT NULL ,    price FLOAT NOT NULL ,    status INT NOT NULL,    UNIQUE INDEX product_id_UNIQUE (product_id ASC),    CONSTRAINT category_id_fk FOREIGN KEY (category_id) REFERENCES data_co_schema.product_category (category_id) ON DELETE NO ACTION ON UPDATE CASCADE)
CREATE TABLE department (    department_id INT NOT NULL PRIMARY KEY,    name VARCHAR(45) NOT NULL ,    Latitude FLOAT(6,6) NOT NULL ,    Longitude FLOAT(6,6) NOT NULL ,    market VARCHAR(45) NOT NULL ,    UNIQUE INDEX department_id_UNIQUE (department_id ASC))
CREATE TABLE orders (    order_id INT NOT NULL PRIMARY KEY ,    customer_id INT NOT NULL ,    order_date DATETIME NOT NULL ,    type VARCHAR(45) NOT NULL ,    delivery_status VARCHAR(45) NOT NULL ,    late_delivery_risk INT NOT NULL ,    order_item_total FLOAT NOT NULL ,    order_profit_per_order FLOAT NOT NULL ,    benefit_per_order FLOAT NOT NULL ,    department_id INT NOT NULL ,    UNIQUE INDEX order_id_UNIQUE (order_id ASC),    CONSTRAINT department_id_fk FOREIGN KEY (department_id) REFERENCES data_co_schema.department (department_id) ON DELETE NO ACTION ON UPDATE CASCADE,    CONSTRAINT customer_id_orders_fk FOREIGN KEY (customer_id) REFERENCES data_co_schema.customer (customer_id) ON DELETE NO ACTION ON UPDATE CASCADE)
CREATE TABLE orders_geo (    order_id INT NOT NULL PRIMARY KEY ,    city VARCHAR(45) NOT NULL ,    region VARCHAR(45) NOT NULL ,    state VARCHAR(45) NOT NULL ,    status VARCHAR(45) NOT NULL ,    zipcode VARCHAR(45) NOT NULL ,    UNIQUE INDEX order_id_UNIQUE (order_id ASC),    CONSTRAINT order_id_fk FOREIGN KEY (order_id) REFERENCES data_co_schema.orders (order_id) ON DELETE CASCADE ON UPDATE CASCADE)
CREATE TABLE order_item (    order_item_id INT NOT NULL PRIMARY KEY,    order_id INT NOT NULL ,    product_id INT NOT NULL ,    discount REAL NOT NULL ,    discount_rate REAL(4,4) NOT NULL ,    product_price REAL NOT NULL ,    profit_ratio REAL NOT NULL ,    quantity REAL NOT NULL ,    sales REAL NOT NULL ,    UNIQUE INDEX order_item_id_UNIQUE (order_item_id ASC),    CONSTRAINT order_id_order_item_fk FOREIGN KEY (order_id) REFERENCES data_co_schema.orders (order_id) ON DELETE CASCADE ON UPDATE CASCADE,    CONSTRAINT product_id_order_item_fk FOREIGN KEY (product_id) REFERENCES data_co_schema.product (product_id) ON DELETE CASCADE ON UPDATE CASCADE)
CREATE TABLE shipping (    order_item_id INT NOT NULL PRIMARY KEY,    days_for_shiping_real INT NOT NULL ,    days_for_shiping_scheduled INT NOT NULL ,    shipping_date DATETIME NOT NULL ,    mode VARCHAR(45) NOT NULL ,    UNIQUE INDEX order_item_id_UNIQUE (order_item_id ASC),    CONSTRAINT order_item_id_fk FOREIGN KEY (order_item_id) REFERENCES data_co_schema.order_item (order_item_id) ON DELETE CASCADE ON UPDATE CASCADE)

In [10]:
engine_root = sqla.create_engine("mysql://root:4321@localhost:3308/")

for cmd in root_init_script:
    print(cmd)
    result = engine_root.execute(text(cmd).execution_options(autocommit=True))

ALTER USER 'root'@'localhost' IDENTIFIED BY '1234';
ALTER USER 'root'@'%' IDENTIFIED BY '1234';
CREATE USER 'data'@'localhost' IDENTIFIED BY '1234';
CREATE USER 'data'@'%' IDENTIFIED BY '1234';
GRANT ALL PRIVILEGES ON *.* TO 'data'@'localhost';
GRANT ALL PRIVILEGES ON *.* TO 'data'@'%';
FLUSH PRIVILEGES;
CREATE DATABASE IF NOT EXISTS data_co_schema;

In [11]:
engine_data = sqla.create_engine("mysql://data:1234@localhost:3308/")

for cmd in table_init_script:
    print(cmd)
    result = engine_data.execute(text(cmd).execution_options(autocommit=True))

USE data_co_schema
CREATE TABLE customer (    customer_id INT NOT NULL PRIMARY KEY,    fname VARCHAR(45) NOT NULL ,    lname VARCHAR(45) NOT NULL ,    email VARCHAR(45) NOT NULL ,    passwd VARCHAR(45) NOT NULL ,    segment VARCHAR(45) NOT NULL ,    UNIQUE INDEX customer_id_UNIQUE (customer_id ASC))
CREATE TABLE customer_geo (    customer_id INT NOT NULL PRIMARY KEY,    city VARCHAR(45) NOT NULL ,    country VARCHAR(45) NOT NULL ,    state VARCHAR(45) NOT NULL ,    street VARCHAR(45) NOT NULL ,    zipcode VARCHAR(45) NOT NULL ,    UNIQUE INDEX customer_id_UNIQUE (customer_id ASC),    CONSTRAINT customer_id_fk FOREIGN KEY (customer_id) REFERENCES data_co_schema.customer (customer_id) ON DELETE NO ACTION ON UPDATE CASCADE)
CREATE TABLE product_category (    category_id INT NOT NULL PRIMARY KEY,    name VARCHAR(45) NOT NULL,    UNIQUE INDEX category_id_UNIQUE (category_id ASC))
CREATE TABLE product (    product_id INT NOT NULL PRIMARY KEY,    name VARCHAR(45) NOT NULL ,    category_id INT NOT NULL ,    image VARCHAR(45) NOT NULL ,    price FLOAT NOT NULL ,    status INT NOT NULL,    UNIQUE INDEX product_id_UNIQUE (product_id ASC),    CONSTRAINT category_id_fk FOREIGN KEY (category_id) REFERENCES data_co_schema.product_category (category_id) ON DELETE NO ACTION ON UPDATE CASCADE)
CREATE TABLE department (    department_id INT NOT NULL PRIMARY KEY,    name VARCHAR(45) NOT NULL ,    Latitude FLOAT(6,6) NOT NULL ,    Longitude FLOAT(6,6) NOT NULL ,    market VARCHAR(45) NOT NULL ,    UNIQUE INDEX department_id_UNIQUE (department_id ASC))
CREATE TABLE orders (    order_id INT NOT NULL PRIMARY KEY ,    customer_id INT NOT NULL ,    order_date DATETIME NOT NULL ,    type VARCHAR(45) NOT NULL ,    delivery_status VARCHAR(45) NOT NULL ,    late_delivery_risk INT NOT NULL ,    order_item_total FLOAT NOT NULL ,    order_profit_per_order FLOAT NOT NULL ,    benefit_per_order FLOAT NOT NULL ,    department_id INT NOT NULL ,    UNIQUE INDEX order_id_UNIQUE (order_id ASC),    CONSTRAINT department_id_fk FOREIGN KEY (department_id) REFERENCES data_co_schema.department (department_id) ON DELETE NO ACTION ON UPDATE CASCADE,    CONSTRAINT customer_id_orders_fk FOREIGN KEY (customer_id) REFERENCES data_co_schema.customer (customer_id) ON DELETE NO ACTION ON UPDATE CASCADE)
CREATE TABLE orders_geo (    order_id INT NOT NULL PRIMARY KEY ,    city VARCHAR(45) NOT NULL ,    region VARCHAR(45) NOT NULL ,    state VARCHAR(45) NOT NULL ,    status VARCHAR(45) NOT NULL ,    zipcode VARCHAR(45) NOT NULL ,    UNIQUE INDEX order_id_UNIQUE (order_id ASC),    CONSTRAINT order_id_fk FOREIGN KEY (order_id) REFERENCES data_co_schema.orders (order_id) ON DELETE CASCADE ON UPDATE CASCADE)
CREATE TABLE order_item (    order_item_id INT NOT NULL PRIMARY KEY,    order_id INT NOT NULL ,    product_id INT NOT NULL ,    discount REAL NOT NULL ,    discount_rate REAL(4,4) NOT NULL ,    product_price REAL NOT NULL ,    profit_ratio REAL NOT NULL ,    quantity REAL NOT NULL ,    sales REAL NOT NULL ,    UNIQUE INDEX order_item_id_UNIQUE (order_item_id ASC),    CONSTRAINT order_id_order_item_fk FOREIGN KEY (order_id) REFERENCES data_co_schema.orders (order_id) ON DELETE CASCADE ON UPDATE CASCADE,    CONSTRAINT product_id_order_item_fk FOREIGN KEY (product_id) REFERENCES data_co_schema.product (product_id) ON DELETE CASCADE ON UPDATE CASCADE)
CREATE TABLE shipping (    order_item_id INT NOT NULL PRIMARY KEY,    days_for_shiping_real INT NOT NULL ,    days_for_shiping_scheduled INT NOT NULL ,    shipping_date DATETIME NOT NULL ,    mode VARCHAR(45) NOT NULL ,    UNIQUE INDEX order_item_id_UNIQUE (order_item_id ASC),    CONSTRAINT order_item_id_fk FOREIGN KEY (order_item_id) REFERENCES data_co_schema.order_item (order_item_id) ON DELETE CASCADE ON UPDATE CASCADE)

In [25]:
print(len(result))

TypeError: object of type 'ResultProxy' has no len()

In [4]:
data = pd.read_csv(f'./data/DataCoSupplyChainDataset.csv', delimiter=',', encoding="ISO-8859-1")
desc = pd.read_csv(f'./data/DescriptionDataCoSupplyChain.csv', delimiter=',', encoding="utf-8")
# desc = desc.set_index('FIELDS')

In [5]:
data_meta = pd.DataFrame()
data_meta['Name'] = data.columns.values
data_meta["Unique"] = pd.DataFrame([un for un in data.nunique()])
data_meta["dtype"] = pd.DataFrame([un for un in data.dtypes])

desc_ = desc['DESCRIPTION'].to_list()
desc_.insert(43,"Order Zipcode")
data_meta["Desc"] = pd.DataFrame(desc_)

In [6]:
dataset = data.copy()
dataset.set_index("Order Item Id")

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
Order Item Id,,,,,,,,,,,,,,,,,,,,,
180517,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
179254,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
179253,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
179252,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
179251,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65177,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
65161,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
65129,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
65126,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
65113,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [7]:
table_customer = dataset[["Customer Id", "Customer Fname", "Customer Lname", "Customer Email", "Customer Password", "Customer Segment"]].set_index("Customer Id")
table_customer_geo = dataset[["Customer Id", "Customer City", "Customer Country", "Customer State", "Customer Street", "Customer Zipcode"]].set_index("Customer Id")
table_product = dataset[["Product Card Id", "Product Name", "Product Category Id", "Product Image", "Product Price", "Product Status", ]].groupby("Product Card Id").first()

In [34]:
engine_root.execute(text("USE data_co_schema;").execution_options(autocommit=True))
table_customer.to_sql("customer", engine_root)